# The name of the Kafka topic to read the messages from
topic=clean.headwaters.core.MonitoringEvent

#Schema registry URI
schema-registry=http://headwaters.sandbox.video.comcast.net/schema_registry/

#Http-Collector URI
Http-collector=http://analytics.sandbox.video.comcast.net/

# Kafka producer-consumer configuration	
bootstrap.servers=headwaters.sandbox.video.comcast.net:9092

#must specify the key & value serializer
value.serializer=com.comcast.headwaters.kafka.monitoring.AvroSerializer
key.serializer=org.apache.kafka.common.serialization.StringSerializer

#must specify the key & value deserializer
value.deserializer=com.comcast.headwaters.kafka.monitoring.AvroDeserializer
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer

group.id=myGroupId

#producer/consumer-threads-sleeptime
producer/consumer-threads-sleeptime = 1000


#auto.offset.reset=latest
#offsets.storage=kafka
#auto.commit.enable=false